@mixin custom-icon($name, $font-family: false) {
    .icon-#{$name}{
        $character: icon-character-for-name($name);
 
        &:before {
            font-style: normal;
            text-align: center;
 
            @if $font-family {
                font-family: $font-family;
            } @else{
                font-family: 'Pictos';
            }
 
            @if $character {
                content: "#{$character}";
            } @else {
                content: "#{$name}";
            }
        }
    }
}

@include custom-icon('camera');